/*Declarando uma variavel na raiz do documento*/
:root{
    --vermelho:#E50914;
    --preta:#141414;

}
/*Corpo do documento*/
body {
  background: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
/*Representa todos os elementos serão afetados pelas definições de estilo ali colocadas. */
*{
 margin: 0;
 padding:0;
 box-sizing: border-box ;
}
/*cabeçalho do documento*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
/*Fazendo a formatação da logo do Netflix */
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
/*Fazendo a formatação do menu */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right:10px ;
}
/*Criando um efeito branco nas letras*/
header nav a:hover{
    color: #fff;
}
/*Filmes Principal*/
.filme-principal {
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descriçao     {
    margin-bottom: 40px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS';
}
.botao {
    background-color:rgba(0,0,0.50) ;
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 3.s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
/*#WRAPPER = ENVOLOPAR*/

.container{
    margin-left: 30px;
}
.filme-principal .container{
    width:70%;
}
.box.filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes{
    margin-top: 5px;
}